
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* Navbar */
#mynav{
    width: 100%;
    height: 100px;
    background-color: #1d7efd;
   
}

#mynav>div{
    margin: auto;
    text-align: center;  
}
#image1{
    margin-top: 25px;
    width: 170px;
    height: 50px;

}

/* form container*/
#container{
    width: 100%;
    height: 420px;
   background-image:url("https://img.gkbcdn.com/bn/2207/roborockq7max-62d4c7422b40c92434e2fa93._p1_.jpg");
  position: absolute;
}

#formdiv{
    
    width: 350px;
    background-color: white;
    height: 380px;
    margin: auto;
    margin-top: 50px;
    border-radius: 3px;    
    box-shadow: 0 0 10px rgb(0 0 0 / 20%)
}

#formdiv>div{
    margin: auto;
    display: flex;
    padding-top: 20px;
    justify-content: space-between;
    font-weight: bold;
    line-height: 30px;
    -webkit-font-smoothing: antialiased;    
    width: 80%;
}
a{
    text-decoration: none;
    color: rgb(32, 27, 27);
    font-weight:lighter;
    
}
.signup_input input.error_color {
    color: #d04040;
    border-color: #d04040;
}
.signup_input input {
    width: 100%;
    height: 44px;
    line-height: 44px;
    text-indent: 14px;
    border: 1px solid #d1d1d1;
    border-radius: 4px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
}
.error_color {
    color: #d04040;
    font-style: normal;
    font-size: 13px;
    line-height: 24px;
    text-align: left;
    display: none;
    font-family: "Open Sans",sans-serif !important;
}
input:focus-visible {
    outline-offset: 0px;
}